<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="primary">
			<ion-button
				routerLink="/preferences">
				<ion-icon
					slot="icon-only"
					ios="settings-outline"
					md="settings-outline">
				</ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Gotta Ask</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" no-bounce class="no-scroll">

	<div id="container" class="ice-breaker">
		<div class="flipper" [ngClass]="{'flip': viewBack}">
			<breaker-card 
				class="front"
				[breaker]="front"
				(nextClick)="showNext($event)"
				></breaker-card>
			<breaker-card 
				class="back"
				[breaker]="back"
				(nextClick)="showNext($event)"
				></breaker-card>
		</div>

	</div>
</ion-content>
