
ion-card {
	height: 60vh;
	width: 80%;
	margin: auto auto;
	padding: 50px;
}

strong {
  font-size: 20px;
  line-height: 30px;
  float: left;
  margin: auto;
}

.category {
	position: absolute;
	text-transform: uppercase;
	font-size: 10px;
}

.actions {
	bottom: 5%;
	right: 10%;
	font-size: 35px;
	position: absolute;
}
